Robert Eric Maikher <robertem@pvv.ntnu.no> Robert Maikher <robertem342@gmail.com>
Robert Eric Maikher <robertem@pvv.ntnu.no> robertem <3456661+RandomGamer342@users.noreply.github.com>

Øystein Kristoffer Tveit <oysteikt@pvv.ntnu.no> h7x4 <h7x4@nani.wtf>
Øystein Kristoffer Tveit <oysteikt@pvv.ntnu.no> Oystein Kristoffer Tveit <oysteikt@pvv.ntnu.no>
Øystein Kristoffer Tveit <oysteikt@pvv.ntnu.no> Øystein Tveit <h7x4@nani.wtf>
